/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0 1.2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: fit-content;
}

p {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5rem;
}

h2#contact {
    padding-top: 10px;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 100%;
}

nav li {
    margin-bottom: 1rem;
    border: 2px solid rgba(204, 204, 204, 0.4);
    border-radius: 12px;
}

nav a,
.topper {
    display: block;
    padding: 10px 15px;
    color: #2D99C8;
    font-weight: 700;
}

.topper {
    position: absolute;
    right: 0px;
    padding: 10px 15px;
    padding-left: 122px;
    padding-top: 23px;
}


/* unvisited link */

a:link {
    color: #00928D;
}


/* visited link */

a:visited {
    color: #007588;
}


/* mouse over link */

a:hover {
    color: #15B37F;
}


/* selected link */

a:active {
    color: #15B37F;
}


/* ---- Layout Containers ---- */

header {
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
}

.second-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}


/* ---- Page Elements ---- */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a.hide,
.hide1 {
    padding: 10px 15px;
    color: #2D99C8;
    font-weight: 700;
}

.hide1 {
    color: #0089C4;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav li {
        border: none;
    }
    .col {
        width: 50%;
        padding: 10px;
    }
    .topper {
        display: none;
    }
    .hide {
        display: flex;
    }
    .btm-nav {
        display: flex;
    }
    a.hide {
        padding-right: 10px;
    }
    .head {
        display: flex;
        flex-direction: row-reverse;
    }
    .head img,
    .head p {
        padding: 10px;
    }
    header,
    footer {
        background-color: rgba(223, 231, 253, 0.3)
    }
}

@media (min-width: 1024px) {
    .col {
        width: 33.33%;
        padding: 10px;
    }
    .second-break {
        display: flex;
        justify-content: space-between;
    }
    header,
    footer {
        background-color: rgba(223, 231, 253, 0.3)
    }
    h1 {
        padding-left: 10px;
    }
    main {
        max-width: 100vw;
    }
    /* unvisited link */
    a:link {
        color: #00928D;
    }
    /* visited link */
    a:visited {
        color: #007588;
    }
    /* mouse over link */
    a:hover {
        color: #15B37F;
    }
    /* selected link */
    a:active {
        color: #15B37F;
    }
}