/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0 1.2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5rem;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 100%;
}

nav li {
    margin-bottom: 1rem;
    border: 2px solid palegreen;
    border-radius: 12px;
}

nav a {
    display: block;
    padding: 10px 15px;
    color: darkslategrey;
    font-weight: 700;
}


/* ---- Layout Containers ---- */

header {
    text-align: center;
    padding-top: 5px;
}

body {
    text-align: center;
}

.second-foot {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}


/* ---- Page Elements ---- */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav li {
        border: none;
    }
    .col {
        width: 50%;
        padding: 10px;
    }
    .topper {
        display: none;
    }
    .hide {
        display: flex;
    }
    .btm-nav {
        display: flex;
    }
    a.hide {
        padding-right: 10px;
    }
    .head {
        display: flex;
        flex-direction: row-reverse;
    }
    .head img,
    .head p {
        padding: 10px;
    }
    header {
        background-color: rgba(220, 220, 220, 0.1);
    }
}

@media (min-width: 1024px) {}